.item {
	padding: 1rem;
	border: 1px solid #343a40;
	border-radius: 10px;
}

.item:hover {
	color: #212529;
	background-color: #adb5bd;
	transition: ease-in-out 0.25s;
}

/*** Controls image sizing for small images
.item__image-container {
	padding: 0.5rem 0rem;
	display: flex;
	justify-content: center;
}
***/

.item__image {
	/* width: 10rem; */
	width: 100%;
	height: auto;
}
